<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <%- include('template/commonlinks') -%>
    <link rel="stylesheet" href="/knowledge.css" charset="utf-8">
  </head>
  <body>
    <%- include('template/header') -%>

    <%if(knowledge) {%>
      <%-include('article/' + knowledge)-%>
    <%} else {%>

    <div class="knowledge">
      <div class="content">

      <div class="heading">Knowledge</div>

      <a class="tile" href="/knowledge/fidget-spinner-which-one-to-buy">
        <div class="image" style="background-image: url(/img/knowledge/0.jpg)"></div>
        <div class="title">Which Fidget Spinner To Buy?</div>
      </a>
      <a class="tile" href="/knowledge/fidget-spinner-introduction-to-bearings">
        <div class="image" style="background-image: url(/img/knowledge/1.jpg)"></div>
        <div class="title">Fidget Spinner: Introduction to Bearings</div>
      </a>
      <a class="tile" href="/knowledge/fidget-spinner-how-to-increase-spinning-time">
        <div class="image" style="background-image: url(/img/knowledge/2.jpg)"></div>
        <div class="title">Fidget Spinner: How To Increase Spinning Time</div>
      </a>
      <a class="tile" href="/knowledge/fidget-spinner-difference-between-materials">
        <div class="image" style="background-image: url(/img/knowledge/3.jpg)"></div>
        <div class="title">Fidget Spinner: Difference Between Materials</div>
      </a>
      <a class="tile" href="/knowledge/how-to-clean-your-fidget-spinner">
        <div class="image" style="background-image: url(/img/knowledge/4.jpg)"></div>
        <div class="title">How To Clean Your Fidget Spinner</div>
      </a>
      <a class="tile" href="/knowledge/all-types-of-fidget-toys-you-should-know">
        <div class="image" style="background-image: url(/img/knowledge/5.jpg)"></div>
        <div class="title">All Types Of Fidget Toys You Should Know</div>
      </a>

      </div>
    </div>

    <%}%>
    <%- include('template/footer') -%>

  </body>
</html>
