<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <%- include('template/commonlinks') -%>
    <link rel="stylesheet" href="picks.css" charset="utf-8">
  </head>
  <body>
    <%- include('template/header') -%>

    <div class="store">
      <div class="content">
        <div class="heading">All Fidget Toys Worth Buying</div>
        <div class="description">
          This is the list of best quality fidget toys at great prices.
        </div>
        <div class="listing">

          <div class="tile">
            <div class="image" style="background-image:url(product/fidget-cube.png)">
              <div class="title">Fidget Cube</div>
            </div>
            <div class="description">
              Since it's huge success Kickstarters campaign, this has always been the most wanted fidget toy in the world.<br><br>
              The campaign has raised more than $6.4 million from 154,926 backers.
            </div>
            <div class="action">
              <div class="share">Share</div>
              <a class="buy" href="https://fidgetcube.us" target="_blank">Buy / 22 USD</a>
            </div>
          </div>

          <div class="tile">
            <div class="image" style="background-image:url(product/classic-fidget-spinner.png)">
              <div class="title">Zekpro Fidget Spinner</div>
            </div>
            <div class="description">
              Fidget spinner isn't a new thing, but it's hard to find a good quality one.
              This is simply the most truthworthy and affordable classic spinner with high customer ranking on Amazon.
            </div>
            <div class="action">
              <div class="share">Share</div>
              <a class="buy" href="https://www.amazon.com/Zekpro-Anti-Anxiety-Focusing-Adults-Best-Relieves/dp/B01N7T7FPY/" target="_blank">Buy / 14.08 USD</a>
            </div>
          </div>

          <div class="tile">
            <div class="image" style="background-image:url(product/aerospinner.png)">
              <div class="title">AeroSpinner</div>
            </div>
            <div class="description">
              When you need a serious spinner for long spinning time. This one will do the job.<br><br>
              AeroSpinner claims that their product can spin more than 6 minutes in most cases. Which in their video is almost 8 minutes.
            </div>
            <div class="action">
              <div class="share">Share</div>
              <a class="buy" href="https://aerospinner.com" target="_blank">Buy / 37.99 USD</a>
            </div>
          </div>

          <div class="tile">
            <div class="image" style="background-image:url(product/gorilla-spinner.png)">
              <div class="title">Gorilla Spinner</div>
            </div>
            <div class="description">
              This spinner from Gorilla Spinners promises 120 seconds of spin, guaranteed.
              It also comes in an attractive metal tin, so you can stow it away in style.
              It also has a very high customer rating on Amazon.
            </div>
            <div class="action">
              <div class="share">Share</div>
              <a class="buy" href="https://www.amazon.com/Gorilla-Spinners-Upgraded-Spinner-Premium/dp/B071CDWYVH" target="_blank">Buy / 21.39 USD</a>
            </div>
          </div>

          <div class="tile">
            <div class="image" style="background-image:url(product/spintool.png)">
              <div class="title">SpinTool</div>
            </div>
            <div class="description">
              This is not just a spinner, it's a bottle opener, it's a phone stand and it's also a screwdriver.<br><br>
              Right now you can support this Kickstarter campaign and get one for just $16.
            </div>
            <div class="action">
              <div class="share">Share</div>
              <a class="buy" href="https://www.kickstarter.com/projects/1002360030/spintool-fidget-spinner-edc-multi-tool" target="_blank">Pledge / 16 USD</a>
            </div>
          </div>

          <div class="tile">
            <div class="image" style="background-image:url(product/remedy-spinner.png)">
              <div class="title">Remedy Spinner</div>
            </div>
            <div class="description">
              This is truly a work of art. Simple and elegant design that will fit perfectly into your desk.<br><br>
              Right now you can join drop at Massdrop to support the project.
            </div>
            <div class="action">
              <div class="share">Share</div>
              <a class="buy" href="https://www.massdrop.com/buy/massdrop-x-rama-s01-remedy-spinner" target="_blank">Pre-order / 49.99 USD</a>
            </div>
          </div>

          <div class="tile">
            <div class="image" style="background-image:url(product/m55-fidget-spinner.png)">
              <div class="title">Mito M55</div>
            </div>
            <div class="description">
              This is a new spinner design from Taiwan. With the size of 55mm x 55mm x 19mm, made from aluminum and titanium,
              it will definitely be a cool spinner to have.<br><br>
              Unfortunately it is not available to buy at this time.
            </div>
            <div class="action">
              <div class="share">Share</div>
              <a class="buy" href="http://www.mitotw.com/products/fidgetspinner/m55.html" target="_blank">Follow</a>
            </div>
          </div>

          <div class="tile">
            <div class="image" style="background-image:url(product/zerohour-rebel-spinner.png)">
              <div class="title">Zerohour Rebel Spinner</div>
            </div>
            <div class="description">
              A recently successful launched Kickstarter campaign. This spinner has 2 replaceable LED parts with a removable R188 bearing.<br><br>
              Right now you can pre-order at Zerohour's website.
            </div>
            <div class="action">
              <div class="share">Share</div>
              <a class="buy" href="https://www.zerohourxd.com/products/zerohour-rebel-spinner-matte-black-aluminum" target="_blank">Pre-order / 75 USD</a>
            </div>
          </div>

          <div class="tile">
            <div class="image" style="background-image:url(product/rotobow-nano-ti.png)">
              <div class="title">Rotobow Nano Ti</div>
            </div>
            <div class="description">
              A Titanium spinner worth buying. It's easy to spin, easily pocketable, and has a nice tactile feeling both in motion and at rest.<br><br>
              At under $50 it's a great example of a quality spinner at a budget price.
            </div>
            <div class="action">
              <div class="share">Share</div>
              <a class="buy" href="https://www.etsy.com/listing/531020599/rotobow-nano-ti-hand-spinner" target="_blank">Buy / 49.99 USD</a>
            </div>
          </div>

          <div class="tile">
            <div class="image" style="background-image:url(product/phat-boy.png)">
              <div class="title">Phat Boy</div>
            </div>
            <div class="description">
              Phat Boy is a well designed, large bodied, small footprint, fidget-focused spinner.<br><br>
              It's unique combination of size, choice of metals and buttons make it a very attractive, fun to spin fidget spinner.
            </div>
            <div class="action">
              <div class="share">Share</div>
              <a class="buy" href="http://steampunkspinners.com/product/phat-boy-fidget-spinner/" target="_blank">Buy / 99 USD</a>
            </div>
          </div>

        </div>

      </div>
    </div>

    <%- include('template/footer') -%>

  </body>
</html>
