<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <%- include('template/commonlinks') -%>
    <link rel="stylesheet" href="top.css" charset="utf-8">
  </head>
  <body>
    <%- include('template/header') -%>

    <%- include('template/footer') -%>
  </body>
</html>
