<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <%- include('template/commonlinks') -%>
    <link rel="stylesheet" href="picks.css" charset="utf-8">
  </head>
  <body>
    <%- include('template/header') -%>

    <div class="store">
      <div class="content">

        <div class="heading">Fidget Store</div>
        <div class="description">
          Best fidget toys at lowest prices.
        </div>

        <div class="listing">

          <div class="tile">
            <div class="image" style="background-image:url(product/fidget-cube.png)">
              <div class="title">Fidget Cube</div>
            </div>
            <div class="description">
              Since it's huge success Kickstarters campaign, this has always been the most wanted fidget toy in the world.<br><br>
              The campaign has raised more than $6.4 million from 154,926 backers.
            </div>
            <div class="action">
              <div class="share">Share</div>
              <a class="buy" href="https://fidgetcube.us">Buy / 22 USD</a>
            </div>
          </div>

        </div>

      </div>
    </div>

    <%- include('template/footer') -%>
  </body>
</html>
