<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Fidget Insider</title>
    <link rel="icon" href="icon.png" type="image/png"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link rel="stylesheet" href="style.css" charset="utf-8">
    <link rel="stylesheet" href="top.css" charset="utf-8">
  </head>
  <body>
    <%- include('template/header') -%>

    <div class="top">
      <div class="content">
        <div class="heading">Top Fidget Toys</div>
        <div class="ranking">

          <div class="tile">
            <div class="name"><span class="number">1</span>Fidget Cube</div>
            <div class="image"></div>
            <div class="desc">
              Fidget toys have becoming a big trend in 2017, and chosign a good fidget toy is not so easy job to do.
            </div>
            <div class="action">
              <div class="share">Share</div>
              <div class="buy">Buy / USD 22</div>
            </div>
          </div>

          <div class="tile">
            <div class="name"><span class="number">2</span>Fidget Cube</div>
            <div class="image"></div>
            <div class="desc">
              Fidget toys have becoming a big trend in 2017, and chosign a good fidget toy is not so easy job to do.
            </div>
            <div class="action">
              <div class="share">Share</div>
              <div class="buy">Buy / USD 22</div>
            </div>
          </div>

          <div class="tile">
            <div class="name"><span class="number">3</span>Fidget Cube</div>
            <div class="image"></div>
            <div class="desc">
              Fidget toys have becoming a big trend in 2017, and chosign a good fidget toy is not so easy job to do.
            </div>
            <div class="action">
              <div class="share">Share</div>
              <div class="buy">Buy / USD 22</div>
            </div>
          </div>

        </div>

      </div>
    </div>

    <%- include('template/footer') -%>

  </body>
</html>
