<style>
  .left-image {
    width: 400px;
    max-width: 50%;
    float: left;
    margin-right: 20px !important;
    margin-bottom: 30px !important;
  }
</style>

<div class="article">
  <div class="content">
    <img src="/img/knowledge/5.jpg" alt="All Types Of Fidget Toys You Should Know" class="main-image" />
    <h1>All Types Of Fidget Toys You Should Know</h1>
    <p>
      Fidget Toys are becoming a huge trend and everyone knows it. Despite the fact that these toy have existed for many years.
    </p>
    <p>
      The fun thing is, how many fidget toys do you know? Read the list below and count.
    </p>
    <i>
      Disclaimer: There are hundreds types of fidget toys in the world and these are just the most popular among them.
    </i>
    <div class="clear"></div>

    <h2>1. Fidget Spinner - Obviously</h2>
    <p>
      <img src="/img/news/6.jpg" alt="Fidget Spinner" class="left-image" />
      Wait, is there any chance that you don't know this toy? <br>
      Don't worry I'll explain it anyway. It's a small, ball-bearing device that you can rotate between your fingers.
      The momentum of the toy provides a pleasing sensory experience, while the challenge of tossing, transferring and
      twirling the spinners has spawned an entire universe of instructional YouTube videos.
    </p>

    <div class="clear"></div>
    <h2>2. Fidget Cube - The Innovation</h2>
    <p>
      <img src="/img/knowledge/15.jpg" alt="Fidget Cube" class="left-image"/>
      Fidget Cube was just invented recently in 2016. It's the one-of-a-kind that combine many other fidget toys into one elegant looking cube.
      It let you click, glide, flip, roll, spin and rest at the same time.
    </p>
    <p>
      The inventetion was credited to two brothers Matthew and Mark McLachlan, collectively known as Antsy Labs.
    </p>

    <div class="clear"></div>
    <h2>3. Flippy Chain, Roller Chain</h2>
    <p>
      <img src="/img/knowledge/16.gif" alt="Fidget Cube" class="left-image"/>
      We know... this looks like a few keychains threaded through some bike chain links and bungeed together with a couple silicone o-rings...
    </p>
    <p>
      That's exactly what it is. With it you can spin between thumb and index/ring finger, two-handed flipping or flicking up and down around fingers.
    </p>

    <div class="clear"></div>
    <h2>4. Begleri</h2>
    <p>
      <img src="/img/knowledge/17.png" alt="Begleri" class="left-image"/>
      Begleri is a string that has two masses at the end. It is used to spin around your fingers, and is a fun and simple pocket sized skill toy.
      Whether you want to learn tricks or just need to fiddle with things, begleri can be really fun.
    </p>

    <div class="clear"></div>
    <h2>5. Spinning Top</h2>
    <p>
      <img src="/img/knowledge/18.jpg" alt="Spinning Top" class="left-image"/>
      A spinning top is a toy designed to spin rapidly on the ground, the motion of which causes it to remain precisely balanced on its tip because of its rotational inertia.
      These toys have existed since antiquity.
    </p>

    <div class="clear"></div>
    <h2>6. Mokuru</h2>
    <p>
      <img src="/img/knowledge/19.gif" alt="Rolling Stick" class="left-image"/>
      This small simple toy is weird. Kick it down and it will stand back straight away. Although it may look easy,
      you will need some practice to be able to flip perfectly.
    </p>
    <p>
      MOKURU was created in 2010 by Mr. Masakazu Node from Japan.
    </p>

  </div>
</div>
