<div class="article">
  <div class="content">
    <img src="/img/knowledge/3.jpg" alt="Difference Between Materials" class="main-image" />
    <h1>Fidget Spinner: Difference Between Materials</h1>


  </div>
</div>
