<div class="article">
  <div class="header-bar">
    <div class="image" style="background-image: url(/img/news/17.jpg)"></div>
    <h1 class="title">
      Fidget Spinner game becomes the most-downloaded free iPhone app
    </h1>
    <div class="brief">
      As if the fidget spinners craze wasn’t overwhelming enough in the physical world, they’ve now come out tops on mobile phones.
    </div>
  </div>
  <div class="content">

    <h2>Fidget Spinner is now on iOS</h2>
    <p>
    A new fidget spinner app for iOS is currently in the top spot on Apple iTunes store’s most downloaded free iPhone apps.
    </p>
    <p>
    Developed by Ketchapp, the free app allows users to swipe the screen in order to make the most spins – tracking your average spins per minute with in-app purchases leading to power-ups to get more spins.
    </p>
    <center>
    <iframe width="640" height="360" src="https://www.youtube-nocookie.com/embed/rAS_zkn8OBI?rel=0" frameborder="0" allowfullscreen></iframe>
    </center>
    <p>
    If you’re unaware, fidget spinners have become incredibly popular among children, particularly those with additional needs such as ADHD or autism as they can help relieve stress and anxiety.
    </p>
    <p>
    It’s also led to self proclaimed ‘pro fidgeters’ on YouTube – who show off their ‘tricks’ with a thankfully huge tongue in their cheek.
    </p>
    <p>
    Praise, 2017.
    </p>


    <div class="source">
      Source: <a href="http://metro.co.uk/2017/05/23/fidget-spinner-game-becomes-the-most-downloaded-free-iphone-app-6655914/">Metro</a>
    </div>
  </div>
</div>
