<div class="article">
  <div class="content">
    <img src="/img/knowledge/3.jpg" alt="Difference Between Materials" class="main-image" />
    <h1>Fidget Spinner: Difference Between Materials</h1>
    <p>
      The density of metal plays a big role in the design and characteristics of fidget spinners. We only have so much room to build out a spinner body on the x, y and z axis with most spinners coming in at under 3 inches. So how do makers keep making the same spinner designs in different iterations without having to come up with new designs so we plunk down another Benjamin for the same thing we already have? They make it in a different metal! Genius. But, is there something to this same design different metal thing? Is a stainless steel stubby pretty much the same as a brass stubby? Well...sort of. But, but sort of not too.
    </p>
    <div class="clear"></div>

    <p>Each metal brings with it a unique set of characteristics that help differentiate each iteration of the same spinner design. From general looks and feel to finishes ans patinas, all metals are unique. But certainly, most important is the density of a metal. Basically, how much does one cubic meter weigh.</p>

    <p>Weight is important in fidget spinners because, simply put, the heavier the body, the longer it will spin. All things being equal, a stainless steel bodied spinner is always going to spin longer than an aluminum spinner due to the heavier density of stainless steel as compared to aluminum. So what are the densities of some common metals used in fidget spinners? Let's take a look a what the hypothetical weights and costs of a
      <a href="https://www.rotablade.com/rotablade-stubby-spinner-and-cigar-stand/" target="_blank">Rotablade Stubby</a> would be in some popular metals.</p>

    <table style="width: 100%; border-spacing: .5em; border-collapse: separate">
    <thead><tr style="background: #999"><th style="text-align: left">Metal or Alloy</th><th style="text-align: left">Density&nbsp;<i>(kg/m<sup>3</sup>)</i></th><th colspan="3" style="text-align: left">Rotablade Stubby Metrics</th></tr><tr><th colspan="2"></th><th style="text-align: left; background: #ccc">Weight</th><th style="text-align: left; background: #ccc" "="">Price / Gram</th><th style="text-align: left; background: #ccc" "="">Cost</th></tr></thead>
    <tbody>
    <tr><td>Platinum</td><td>21,400</td><td>189g</td><td>$30.81</td><td>$5,823</td></tr>
    <tr><td>Plutonium</td><td>19,816</td><td>175g</td><td>$4,000</td><td>$700,000</td></tr>
    <tr><td>Tungsten</td><td>19,600</td><td>173g</td><td>$.03</td><td>$5.20</td></tr>
    <tr><td>Gold</td><td>19,320</td><td>171g</td><td>$40.23</td><td>$6,879</td></tr>
    <tr><td>Uranium</td><td>18,900</td><td>167g</td><td>$.05</td><td>$9</td></tr>
    <tr><td>Mercury</td><td>13,593</td><td>120g</td><td>$0.005</td><td>$.60</td></tr>
    <tr><td>Palladium</td><td>12,160</td><td>108g</td><td>$32</td><td>$3,443</td></tr>
    <tr><td>Silver</td><td>10,490</td><td>92g</td><td>$.64</td><td>$59</td></tr>
    <tr><td>Copper</td><td>8,940</td><td>79g</td><td>$0.005</td><td>$0.39</td></tr>
    <tr><td>Nickel</td><td>8,908</td><td>79g</td><td>$0.008</td><td>$0.63</td></tr>
    <tr><td>Brass 60/40</td><td>8,520</td><td>74g</td><td>$0.004</td><td>$0.28</td></tr>
    <tr><td>Stainless Steel</td><td>7,480 - 8,000</td><td>69g</td><td>$.02</td><td>$0.14</td></tr>
    <tr><td>Zirconium</td> <td>6,570</td><td>58g</td><td>$1.57</td><td>$91</td></tr>
    <tr><td>Titanium</td> <td>4,500</td><td>45g</td><td>$2</td><td>$90</td></tr>
    <tr><td>Aluminum</td><td>2,720</td><td>24g</td><td>$.03</td><td>$0.72</td></tr>
    </tbody> </table>

    <p>Just a note, the cost neglects everything but the exact amount of metal for the body and buttons and does not take into account acquisition, waste, labor, distribution overhead etc. Additionally, metal prices fluctuate.</p>

    <p>So, the answer to the long asked question, how much would a platinum Rotablade Stubby cost? A lot...</p>

  </div>
</div>
