<div class="article">
  <div class="content">
    <img src="/img/knowledge/1.jpg" alt="Introduction To Bearings" class="main-image" />
    <h1>Fidget Spinner: Introduction To Bearings</h1>
    <p>
      So, you want to learn about bearings, but you're not quite sure where to start and/or you're feeling a little too lazy to do some Googling yourself.
    </p>
    <p>
      <b>WELL, YOU'RE IN LUCK!</b> Because in order to avoid doing some boring biochemistry homework at the moment, I decided to put together this post for you instead.
    </p>
    <p>
      This post is designed to be a very basic introduction to the different types of bearings that are widely available, and is geared towards someone who really has no clue where to start in regards to choosing a bearing.
    </p>
    <div class="clear"></div>

    <h2>Parts of a Ball Bearing:</h2>
    <p>
      Ball bearings are pretty simple. At their very simplest, they're made with just three parts: two rings and the balls that are held between them.
      However, that can make for a pretty crappy bearing, because the balls with rub against each other and friction is bad if you want your bearing to work
      efficiently.
    </p>
    <img src="/img/knowledge/12.jpg" alt="Fidget Spinner Bearing Parts" />
    <p>
      Above are names of the parts in that picture. Just a note, that the "separator" in the picture is
      sometimes referred to as a "cage", so don't be confused if you see me refer to a cage.
    </p>

    <h2>Basically, there are 3 types of bearings:</h2>
    <ul>
      <li><b>Steel/Metal</b> - These are the basic metal bearings that most people are familiar with. Every part of the bearing (or almost every part) is made with a type of steel. Bearings can be made with chrome steel, stainless steel, or carbon alloy steel. An in-depth guide to steel types is available here. Sometimes in metal bearings, the cage is made with nylon.</li>
      <li><b>Ceramic</b> - Sometimes called "full ceramic" bearings, every part of ceramic bearings are made with ceramic. The most common material is silicon nitride.</li>
      <li><b>Hybrid</b> - These bearings are made with ceramic balls, but have steel inner and outer rings (hence the name).</li>
      <li><b>Plastic</b> - I know I said there are three types of bearings, but I'm including this one just in case anyone has a question about it. Plastic bearings are all plastic and made with nylon, sometimes with glass balls. They're cheap and lightweight, but you don't want to use it in your spinner. Don't do it. You're probably going to have a bad time.</li>
    </ul>

    <h2>Main Advantages and Disadvantages to Each Type:</h2>
    <p>
      <b>Steel/Metal</b>
      <ul>
        <li>Pros: Low cost, lots of variety and widely available</li>
        <li>Cons: Heavy, noisy, can lack chemical resistance (depending on type of steel)</li>
      </ul>
      <b>Hybrid Ceramic</b>
      <ul>
        <li>Pros: Lighter weight than full-metal bearings, more resistant to corrosion, less noise, less vibration</li>
        <li>Cons: Expensive</li>
      </ul>
      <b>Full Ceramic</b>
      <ul>
        <li>Pros: High speed and acceleration capacity, long-lasting, reduced need for lubrication, quiet, low vibration, lightweight</li>
        <li>Cons: Most expensive</li>
      </ul>
      <b>Plastic</b>
      <ul>
        <li>No.</li>
      </ul>
    </p>

    <h2>Open, Shielded, or Sealed?</h2>
    <ul>
      <li><b>Open-style bearing</b> - These are the kinds of bearings where you can see the balls. These are the easiest to clean because you don't have to remove anything to access the balls (heh heh), but they also can get dirty really fast since there isn't protection from the elements.</li>
      <li><b>Shielded bearing</b> - These have a shield on both sides of the bearing that protect the balls. They provide a good amount of protection to the balls inside your bearing, but they're not totally sealed, so dirt contamination is still possible. However, the shield is removable (and there are plenty of YouTube videos showing how to do this). I'd probably recommend getting a shielded bearing if you're waffling between this and an open-style, since you can just remove the shield and get rid of it if you end up not wanting it.</li>
      <li><b>Sealed bearing</b> - These are also have a shield to protect the balls, but in this case, the shields are not removable. The bearing is completely sealed from the elements. This sounds great at first, but I wouldn't recommend using them in a spinner because sealed bearings usually come packed with lubricant and that's generally a bad thing for spinners, especially if you're trying to get long spin times. Since they're sealed, you can't clean out the lubricant from inside the bearing.</li>
    </ul>

    <h2>Removing the Cage from a Caged Bearing</h2>
    <p>
      This is very probably a bad idea. People have tried to take out the cage in their bearing to try to make it into a cageless one. Caged bearings have less balls than cageless ones, so if you remove the cage, the center of your bearing will probably fall out and you will lose your balls to the deep dark fuzzy depths of your carpet.
    </p>

    <h2>Conclusion</h2>
    <p>
      So, there you have it, a basic introduction to the main types of bearings. I hope this is helpful for you and again, if there is anyone who has anything to add to the post, or if you spot any inaccuracies, please leave a comment and it will be added/corrected as soon as possible.
    </p>

  </div>
</div>
