<div class="article">
  <div class="header-bar">
    <div class="image" style="background-image: url(/img/news/0.jpg)"></div>
    <h1 class="title">
      Fidget Spinners: The Hit Toy That Spun Out Of Nowhere
    </h1>
    <div class="brief">
      NEW YORK –  Stores can't keep them in stock. Parents are scrambling to find them. And some schools have banned them.
    </div>
  </div>
  <div class="content">
    <p>
      The mania for fidget spinners — the 3-inch twirling gadgets taking over classrooms and cubicles — is unlike many other
      toy crazes. They're not made by a major company, timed for the holiday season, or promoted in TV commercials. They're
      more easily found at gas stations or 7-Eleven than at big toy chains.
    </p>
    <p>
      "It just took off," says Richard Gottlieb, a consultant at Global Toy Experts in New York.
    </p>
    <img src="/img/news/1.jpg" alt="Fidget Spinner FAD" />
    <p>
      Fidget spinners have been around for years, mostly used by kids with autism or attention disorders to help them concentrate.
      But they exploded in popularity this spring.
    </p>
    <p>
      Shannan Rowell, a sixth-grade special education teacher, says that after a weeklong break in late April more than half of
      her 25 students suddenly had one.
    </p>
    <p>
      "They seem to be taking over classrooms," says Rowell, who lives in North Grafton, Massachusetts.
    </p>
    <img src="/img/news/2.jpg" alt="Fidget Spinner Classroom" />
    <p>
      Gottlieb thinks it's likely a kid brought one to a playground and the craze spread from there. Recent YouTube videos of people
      spinning them on their noses, foreheads and shoes also helped.
    </p>
    <p>
      Helen Holden heard about fidget spinners last month when her 7-year-old twins demanded she stop at a 7-Eleven to buy them. "I thought it was a drink," says the bank vice president and blogger from Los Angeles.
    </p>
    <p>
      That store was sold out, and so were several other 7-Eleven locations that she called. The chain says spinners have "been flying off the shelves" since they went on sale in March.
    </p>
    <p>
      Holden's kids said they needed them before school on Monday so they could practice spinning them. So she signed up for Amazon Prime, paid $5.99 for one-day shipping and had two $15 fidget spinners delivered on a Sunday.
    </p>
    <p>
      "I totally got suckered by my kids," she says.
    </p>
    <p>
      At Funky Monkey Toys, owner Tom Jones says he got a phone call about the fidget spinners in April. About 30 minutes later, another person called. "I said, 'Whatever they are, I need to get them.'"
    </p>
    <p>
      Now, the phone has been ringing 20 to 30 times a day with people checking if they're in stock. His shop in Oxford, Michigan, can sell up to 150 in a day.
    </p>
    <p>
      "We run out of them frequently," says Jones, who recently got a shipment of 2,000.
    </p>
    <img src="/img/news/0.jpg" alt="Fidget Spinner Store" />
    <p>
      On Amazon.com, 18 of the top 20 best-selling toys and games were fidget spinners, ranging from ones that cost just a few dollars to $12 versions touting stainless steel bearings.
    </p>
    <p>
      Five Below, which sells items for $5 or less, says on its website that customers can only buy two fidget spinners at time.
    </p>
    <p>
      Toys R Us flew fidget spinners in this month from China, rather than wait for ship transport. It says Rubik's Cubes, yo-yos and other toys to occupy restless hands have been hot sellers since the beginning of the year. It also started selling $12.99 fidget cubes — the items that made up the rest of the Amazon best-sellers — which fit in the palm of a hand and have clickers, wheels and switches on the sides.
    </p>
    <p>
      Unlike hot toys at the holiday season, which are often made by one company, manufacturers — mostly in China — are making the fidget spinners as fast as they can. Jim Silver, the CEO and editor-in-chief of toy review website TTPM, expects the fad to last into the summer and then fade as more of them flood into the market.
    </p>
    <p>
      "Demand starts to waver," he says.
    </p>
    <p>
      Engineer Catherine Hettinger says she came up with a toy that was similar but not exactly the same in the early 1990s, but a patent expired more than a decade ago after she stopped paying the maintenance fees. Hettinger, who lives in the Orlando suburb of Winter Park, Florida, says she is not making any money from the craze.
    </p>
    <p>
      "No one has contacted me. Nobody has sent me a check," she says. "But once a patent expires, it's public, so I wouldn't expect anything at this point."
    </p>
    <p>
      Despite being marketed as a concentration aid, some teachers say fidget spinners have become a distraction.
    </p>
    <p>
      Rowell, the sixth-grade teacher, says students twirled them too fast, banged them against desks or tried to whirl them on top of each other. She lets students bring them into the classroom, but only if they spin them under their desks and follow the rules she hung on the wall: "YOU MUST BE LOOKING AT THE TEACHER," ''YOU MUST BE LOOKING AT YOUR WORK" and "YOU MUST BE DISCREET."
    </p>
    <p>
      Some schools have banned them. A middle school in Williamstown, New Jersey, wrote that spinners needed to stay in backpacks because they were a distraction in classrooms, hallways and during lunch periods. An elementary school in New York told parents to keep the gadgets at home because they were twirling into children's faces.
    </p>
    <p>
      It's not just kids spinning them. Gottlieb thinks adults are reaching for spinners because they are more stressed out. "People don't smoke as much, so they have to figure out a way to work out their stress," he says.
    </p>
    <p>
      Kim Juszczak, a lawyer from New York, whirls her red-and-black spinner on the subway or while she's thinking up legal arguments for a case.
    </p>
    <p>
      "I'm naturally kind of fidgety," says Juszczak, who used to bend paperclips in her hand.
    </p>
    <p>
      She first saw a spinner on Instagram, and got hers for about $6 on Amazon. Then she bought six more for friends and relatives.
    </p>
    <p>
      "They're addictive," she says.
    </p>

    <div class="source">
      Source: <a href="http://www.foxbusiness.com/markets/2017/05/16/fidget-spinners-hit-toy-that-spun-out-nowhere.html">Fox Business</a>
    </div>

  </div>
</div>
