<div class="article">
  <div class="content">
    <img src="/img/knowledge/2.jpg" alt="How To Increase Spinning Time" class="main-image" />
    <h1>Fidget Spinner: How To Increase Spinning Time</h1>
    <p>
      Before we get started, I want to point out that a long spin time isn't necessarily a characteristic of a "good spinner".
      A good spinner is one that fits your individual needs and preferences. My spinner has an incredibly long spin time, but
      I prefer to flick it back and forth or start and stop short spins, so a long spin time isn't important to me. Basically
      what I'm trying to say is that don't feel like you need to increase your spin time if that's not something you want/need.
      Don't let others shame your spin time!
    </p>
    <div style="clear: both"></div>
    <h2>Get your bearing as clean as possible and don't lubricate it.</h2>

    <p>
      <b>Step 1:</b> If your bearing has a cap, remove it.
    </p>
    <p>
      <b>Step 2:</b> Clean the bearing using some sort of solvent. Common solvents include isopropyl alcohol (any strength), acetone,
      brake cleaner, or paint thinner. I've seen people use WD-40, but if you choose to use it, make sure you clean all of it out
      using another solvent. WD-40 is not a cleaner nor a lubricant, and if you don't get it all out of the bearing, the residual
      WD-40 will attract dust and gunk up your bearing. Trust me, I'm a chemist. ;)
    </p>
    <p>
      If your bearing came lubricated, you want to get rid of all that lube. Get a little glass dish/cup, pour some solvent in it,
      and soak your bearing. Swoosh it around, spin the bearing, and just work it so the solvent can get inside the bearing and get
      all the crap out. You may need to repeat this several times.
    </p>
    <p>
      If you have a plastic spinner body, only use isopropyl alcohol to clean your bearing because almost all of the other solvents
      will melt the plastic! You can get around this by removing the bearing from the plastic body before you start cleaning it, but
      some people may not feel comfortable removing the bearing.
    </p>
    <p>
      Although pure ABS plastic is not affected by isopropyl alcohol, ABS filaments that are used in 3D printing have a small amount
      of sytrene in them, and styrene is affected by isopropyl alcohol. Most ABS filaments have less than 1% sytrene content, so while
      your spinner isn't going to fall apart, some of you may feel more comfortable applying isopropyl alcohol to the bearing only,
      especially if you plan to clean it regularly. Spinners made with a lower purity ABS filament could possibly experience more
      weakening after repeated exposure to isopropyl alcohol, but this also could possibly be related to the structural integrity of
      lower purity ABS plastic.
    </p>
    <p>
      You can also clean the bearing by using hot soapy water, but make sure you get all the water out of the bearing.
    </p>

    <p>
      <b>Step 3:</b> After your bearing is all clean, take a can of compressed air and blow out your bearing. This is crucial if you
      used water to clean your bearing, especially if you have non-ceramic bearings. Water will obviously rust things, so you want
      to get rid of that. The compressed air isn't that big of a deal if you used a strong solvent, because it'll evaporate pretty
      quickly. You can help it along by spinning the bearing and blowing on it or using a hair dryer. (Note: Solvents are flammable
      and although there is little risk, be careful when using a hair dryer/heat gun when solvents and their fumes are present. I am
       not responsible if you set yourself on fire.)
    </p>
    <p>
      Don't use a paper towel or a rag to dry your bearing, because you don't want lint getting in your newly cleaned bearing!
    </p>

    <p>
      <b>Step 4:</b> Put your spinner back together and you're done!
    </p>

    <h2>Some Notes</h2>

    <ul>
      <li>This tutorial assumes that you are trying to get the longest spin time possible. Removing lubricant from inside bearings
        will increase spin time, HOWEVER it can make the bearing noisier. This may be an issue for those of you who need a quiet spinner.
        If you find that your spinner is too noisy after you clean it, you may have to lubricate it a little. Try to use the least amount
        of lubricant as possible in order to make it as quiet as you need. Use bearing oil or valve oil, not speed cream or lithium grease
        or anything like that, and just use 1 drop at a time. One brand that has been suggested several times is
        <a href="https://www.amazon.com/Blue-Juice-BJ2-Valve-Oil/dp/B0002FOGFI">Blue Juice Valve Oil</a>.
      </li>
      <li>If you cleaned out your bearing and it still doesn't spin as long as you want, you may just need to get a better bearing. Some
        spinners come with more inexpensive bearings, which don't spin as long as the higher-end ones. There are different types of bearings
        (ceramic, hybrid, etc) but that's another tutorial for another day.
      </li>
      <li>Physics is important! Metal-bodied spinners will generally have longer spin times than plastic-bodied ones, as they have greater momentum
        and inertia. If you have a plastic spinner and you're really wanting some long spin times, consider investing in a metal spinner.
      </li>
      <li>Your spinner will have better spin times if you keep the bearing clean. Bearing caps help a lot with keeping dirt and stuff out of
        your bearing. If you don't have a cap, you'll have to be more careful with trying to keep dirt out. Even just putting/pulling your
        spinner from your pocket on a regular basis will attract lint into your bearing. A short burst of compressed air every once in a
        while can help blow out dirt and lint. Please note that compressed air cans do have a small amount of water vapor in them, so maybe
        don't go bananas with blowing out your bearings all the time if they're made with a rust-able material? I don't know if this would
        actually be an issue, since the amount of actual water vapor is so small, but just thought I'd throw that out there as an FYI.
      </li>
      <li><b>Keep in mind that you are assuming and accepting a certain amount of risk when fiddling with your bearings.</b> Some spinners are not designed
        with removable bearings and some makers discourage cleaning attempts altogether. From what I've seen, spinners with removable bearings tend
        to be housed in a plastic body, on the inexpensive side. The way I decide whether to fiddle with something (against the manufacturer's
        recommendations) is, "Am I going to regret it if I screw it up?" I might be a little annoyed that I messed up the bearing for a $5 plastic
        spinner, but it wouldn't be a big deal. I'd be devastated if I messed up the bearing for my all-brass Isotope spinner, which I love, so I'm
        not going to screw around with that unless I really really need to and even then, I'd be extremely careful about it. Use your head, don't be
        stupid, educate yourself, and be prepared to take responsibility for anything you might screw up.
      </li>
    </ul>

  </div>
</div>
