<div class="article">
  <div class="header-bar">
    <div class="image" style="background-image: url(/img/news/4.jpg)"></div>
    <h1 class="title">
      Fidget Spinner: 5 Fast Facts You Need To Know
    </h1>
    <div class="brief">
      The toy is so popular that different versions of the toy currently make up all of Amazon’s top 20 best sellers for toys and games.
      But what is really behind all of this?
    </div>
  </div>
  <div class="content">

    <h2>1.The Inventor of the Fidget Spinner Isn’t Making Any Money From Her Invention</h2>
    <p>
    The invention of the fidget spinner is often credited to a woman named Catherine Hettinger. Her patent for the toy was approved in 1997. According to The Guardian, Hettinger was unable to afford the patent renewal fee of $400 in 2005.
    </p>
    <img src="/img/news/4.jpg" alt="Fidget Spinner was invented by Catherine Hettinger" />
    <p>
    Hettinger told The Guardian she invented the fidget spinner during the 1990s, during a time when she was suffering from an autoimmune disorder called myasthenia gravis. Myashtenia gravis causes muscle weakness, which made playing with her young daughter difficult. She developed the toy as an easy way to do an activity with her daughter, since they could both take turns spinning it.
    </p>
    <p>
    After years of selling the toy at arts and craft fairs, it looked like she was finally set for a big payday with a deal from a major toy company. According to The Guardian, Hettinger was in talks with Hasbro, who was testing the design. They decided to not proceed with the production, leaving the project to wither and eventually die when Hettinger could no longer afford the patent fee, according to The Guardian.
    </p>
    <p>
    A recent article from Bloomberg questioned whether Hettinger’s invention is similar enough to current designs to give her credit for being the inventor of the toy. The article says that Hettinger’s invention bares little resemblance to the fidget spinners of today, other than that fact it spins. Bloomberg also reported Hettinger’s patent would have expired in 2014, even if she would have renewed her patent in 2005. Patents filed before June 8, 1995 have a term of either 17 years from the issue date or 20 years from its earliest filing date, whichever is longer, according to the United States Patent and Trademark Office. Patents filed after that date last 20 years.
    </p>
    <p>
    Fidget spinners are now made by many different companies.
    </p>

    <h2>2. Videos of People Doing Fidget Spinner Tricks Have Millions of Views</h2>
    <img src="/img/news/5.jpg" alt="Fidget Spinner tricks" />
    <p>
    Many videos of people performing and explaining fidget spinner tricks have sprung up on YouTube. Videos show tricks of varying difficulties from beginner to expert. Some of the videos make fun of the fad. Many videos involve people using air compressors to make the fidget spinner spin faster than a human could make it spin.
    </p>
    <p>
    The video above, which shows a man explaining how to do several magic tricks with spinners and other objects, has over 4.5 million views in a little over a week.
    </p>
    <p>
    Other videos offer reviews and unboxings of spinners. Some popular videos show the many different kinds of spinners available, and some offer advice on ways to customize fidget spinners.
    </p>

    <h2>3. Experts Have Recently Said Spinners Do Not Help With ADHD and Autism</h2>
    <img src="/img/news/2.jpg" alt="Fidget Spinners do not help with ADHD and Autism" />
    <p>
    Some fidget spinner companies market the spinner as a “miracle” toy that can help aid people dealing with post-traumatic stress and other disorders. The popular belief that these toys can help with disorders such as autism, PTSD and ADHD, has recently been shot down by several experts.
    </p>
    <p>
    In an interview with NPR, Scott Kollins, a clinical psychologist and professor at Duke University, says that there is no research that exists to prove fidget spinners are effective at addressing those issues.
    </p>
    <p>
    “If their description says specifically that this can help for ADHD, they’re basically making false claims because these have not been evaluated in proper research,” said Kollins.
    </p>
    <p>
    Julie Schweitzer, director of the Attention, Impulsivity and Regulation program at the UC Davis MIND Institute, shared Kollins’ assessment in an interview with the Sacramento Bee.
    </p>
    <p>
    “There are other ways of doing it than these toys,” said Schweitzer. “I can’t say that they for sure don’t work, but there’s no evidence to support that they do and it’s obvious they’re going to be distracting to other people.”
    </p>
    Not everyone agrees that fidget spinners don’t help certain children. In an interview with CBS, Dr. Megahan Walls, a pediatric psychologist says that “for students with ADHD or autism they could be helpful.”
    </p>
    <p>
    “They may be beneficial to kids who have these deficits,” said Walls. “So for parents, if your child has a diagnosis of ADHD, if they’re a kid who seems to do better when they’re fidgeting and moving, then absolutely talk to the teacher, talk to the school.”
    </p>
    <h2>4. Some Schools Have Banned Fidget Spinners</h2>
    <img src="/img/news/6.jpg" alt="Some school banned fidget spinners" />
    <p>
    While some believe fidget spinners help kids focus, many educators view the toy as a distraction to others. CBS News found that fidget spinners have already been banned in 32 percent of 200 of largest U.S schools.
    </p>
    <p>
    “Because it’s a distraction, we are no longer allowing them in school,” said John McDonald, assistant principal at Delano Elementary School in Minnesota.
    </p>
    <p>
    “Although seemingly harmless, these items are being taken out during class, causing a distraction to students and staff,” Brooklyn, New York school MS 442 wrote on Facebook post in late April. “They are also being thrown around during transition in the hallways to and from class, in the cafeteria, and at recess. They are small in size, but can seriously hurt someone.”
    </p>
    <h2>5. There are Several Reports of Fidget Spinner Related Injuries</h2>
    <p>
    CNN reported on a boy from Australia who seriously injured his eye playing with a fidget spinner. The boy was showing tricks to his friends at the time of the incident. The boy’s mom told kidspot, “He threw the spinner up a little higher, and he didn’t manage to catch the spinner but it came down and clipped the corner of his eye and crunch. He was very lucky not to lose his eyesight, let alone his eyeball.”
    </p>
    <p>
    CrownHeights.info reported that Monsey’s Hatzalah was called to the home of a child who had a fidget spinner stuck on his hand. The volunteer paramedics were able to remove the toy without any serious injury.
    </p>
    <p>
    The Dallas Morning News reported on a story involving a mother who had to take her daughter to the hospital, because the daughter had gotten a piece of a fidget spinner stuck in her throat.
    </p>
    <p>
    There are several videos on YouTube that show injuries caused by fidget spinners. Most of them involve fidget spinners with razor blades attached and spinners that have been sped up by air compressors.
    </p>

    <div class="source">
      Source: <a href="http://heavy.com/news/2017/05/fidget-spinner-tricks-banned-injuries-adhd/">Heavy</a>
    </div>
  </div>
</div>
