<div class="article">
  <div class="content">
    <img src="/img/knowledge/4.jpg" alt="How To Clean Your Fidget Spinner" class="main-image" />
    <h1>How To Clean Your Fidget Spinner</h1>
    <p>
      How do you make your fidget spinner spin longer? Generally, cleaning it will help. Spinner bearings gather dust and debris from daily use and pockets. The friction this creates in your bearing can start to slow your spinner down making for shorter spins. The good news is that cleaning it is simple and can be done with stuff you have around the house.
      <br><br>Here's a guide on how to clean your fidget spinner bearing. Put your fidget spinner bearing in 99% Isopropyl Alcohol and swish it around then blow it dry.
    </p>
    <div class="clear"></div>
    <h2>What do I need to clean my fidget spinner?</h2>
    <ol>
      <li>Some sort of solvent. We recommend
        <a href="https://www.amazon.com/dp/B001B5JT8C/" target="_blank">99% Isopropyl Alcohol</a>. Alternatives include
        <a href="https://www.amazon.com/dp/B0051IC96Y/" target="_blank">acetone</a>,
        <a href="https://www.amazon.com/dp/B00275OUNO/" target="_blank">paint thinner</a>, and
        <a href="https://www.amazon.com/dp/B000LDR9HI/" target="_blank">brake cleaner</a>. Hot water and dish soap will do in a pinch.</li>
      <li>A hair dryer (preferably),
        <a href="https://www.amazon.com/dp/B00FZYT278/" target="_blank">Compressed Air</a> or an
        <a href="https://www.amazon.com/dp/B001J4ZOAW/" target="_blank">Electric Duster</a></li>
    </ol>

    <h2>How do I clean my fidget spinner?</h2>
    <p>
      <b>Step 1:</b> If your spinner has bearing caps or buttons (the things you hold the spinner with) on it remove them. Most bearing caps are threaded so just hold one and unscrew the other side. Some hand spinners like the
      <a href="https://thraxxedc.com/product-category/edc-spinners/" target="_blank">Thraxx</a> have magnetized caps which you can simply pull apart. This will expose the bearing.
    </p>
    <p>
      Your bearing may have a shield on it. If it does, you'll need to pry it off to expose the bearing balls. Just slip a screwdriver under an edge and it will flip right off. Don't worry, it's easy to put the shield back on after cleaning
    </p>
    <p>
      <b>Step 2:</b> It isn't necessary to remove the bearing from your spinner. You can clean it while it's still in the spinner body. Spinners use all different sorts of bearing retention systems. Most commonly on lower priced spinners they are fastened to the body using
      <a href="https://www.amazon.com/dp/B000I1RSNS/" target="_blank">loctite</a>, so removing them is not recommended. If you are comfortable removing the bearing and reinserting it after cleaning then go for it. One note...if your fidget spinner is plastic and you can't remove the bearing for cleaning, only use
      <a href="https://www.amazon.com/dp/B001B5JT8C/" target="_blank">99% Isopropyl Alcohol</a> as a cleaning agent as the alternatives may melt your spinner body.
    </p>
    <p>
      <b>Step 3:</b> Pour enough solvent into a container to swish the bearing around in.
    </p>
    <p>
      <b>Step 4:</b> Swish the bearing/spinner around in the solvent. Take it out and spin it both ways. Repeat this step 3 or 4 times.
    </p>
    <p>
      <b>Step 5:</b> Dry your fidget spinner bearing. This is important. Remove the bearing from the solvent and use a hair dryer or
      <a href="https://www.amazon.com/dp/B00FZYT278/" target="_blank">Compressed Air</a> to blow the bearing dry. A hair dryer is the preferred option because the compressed air does contain small amounts of water vapor that could eventually rust your bearing. Do not use any kind of rag or towel to dry your bearing. This will give off fuzz that will put you right back where you started.
    </p>
    <p>
      <b>Step 6:</b> Replace the bearing into the spinner and put the caps back on.
    </p>

    <h2>How do I make my fidget spinner spin longer?</h2>
    <p>
      One thing to note is that some spinners come with lubricated bearings. This makes them spin more quietly, but the sacrifice is that they won't spin as long. Cleaning your bearing using the steps above will remove that lubricant allowing it to spin longer. If you desire a quiet spin vs. a long spin, you'll need to reapply lubricant. Grab some
      <a href="https://www.amazon.com/dp/B0002FOGFI/" target="_blank">Blue Juice Valve Oil</a> and reapply very conservatively until you have the desired absence of noise in your bearing.
    </p>

    <h2>Ultrasonic Cleaner For Cleaning Fidget Spinners</h2>
    <p>
      Lastly, if you're looking for a more hi-tech approach to cleaning your bearing, and actually the best way, you could just purchase an
      <a href="https://www.amazon.com/dp/B007Q2M17K/" target="_blank">ultrasonic cleaner</a> for around $40. These are usually used for jewelry, but can double as an effective bearing cleaner as well. They're quick, easy to operate and use only tap water in the cleaning process
    </p>

    <h2>What If My Bearing Has Rusted?</h2>
    <p>
      Of course this can happen if you have steel bearing or ceramic hybrid bearings. The good news is that the bearing can be saved from rust.
    </p>
    <p>
      Soak the bearing in
      <a href="https://www.amazon.com/dp/B001B5JT8C/" target="_blank">99% Isopropyl Alcohol</a>. This will remove a good portion of the rust. Then, soak the bearing in vinegar for 30 minute to an hour. Vinegar is very acidic and great for removing rust. This should remove the remainder of the rust. Dip it back in the alcohol to remove any water left in the bearings and then use a blow dryer to thoroughly dry the rust free bearing.
    </p>

    <h2>How Often Should I Clean My Bearing?</h2>
    <p>
      It really depends on how much you're using your fidget spinner. If you're using it daily, and carrying it around in your pocket, your bearing is going to gather dust and lint, two major enemies that prevent your fidget spinner from spinning faster. Every day cleanings or every other day will keep your spinner spinning the longest possible.
    </p>

  </div>
</div>
