<div class="article">
  <div class="header-bar">
    <div class="image" style="background-image: url(/img/news/3.jpg)"></div>
    <h1 class="title">
      The fidget spinner fad: Adults don't get it, and that's the point
    </h1>
    <div class="brief">
      When I asked a colleague if he knew about fidget spinners, he responded: "I'd never heard of them until last week, when my daughter told me she had to have one."
    </div>
  </div>
  <div class="content">
    <p>
    When I asked a colleague if he knew about fidget spinners, he responded: "I'd never heard of them until last week, when my daughter told me she had to have one."
    </p>
    <p>
    Many parents must be having that conversation with their elementary school-age kids; as of this writing, fidget spinners held the top 16 spots in Amazon's rankings of the most popular toys, and 43 of the top 50. Add fidget cubes (a spinner cousin), and fidget toys hold 49 of the top 50 rankings.
    </p>
    <img src="/img/news/2.jpg" alt="Fidget Spinner Classroom" />
    <p>
    Fidget spinners, it seems, have become this year's leading toy fad. I'm a sociologist who has studied fads, and the rapid popularity, media attention and concerns over a new toy craze are a familiar story. As for adults' confusion about the purpose of the fidget spinner -- for many kids, that's probably part of its appeal.
    </p>
    <p>
    Don't know what a fidget spinner is? Not to worry -- most people who aren't in touch with school-age children don't have a clue. (When I asked a class of 30 college students, only two knew what they were.)
    </p>
    <p>
    The Victorian origins of the Mannequin Challenge
    </p>
    <p>
    A fidget spinner has two or three paddle-shaped blades attached to a central core. Squeeze the core, give the blades a flick and they spin. That's it. With a price between US$3 and $4 and available in all sorts of color schemes, many children can carry around a pocketful.
    </p>
    <p>
    Fidget spinners have attracted all sorts of commentary. Some schools have banned them as a distraction, and there are worries that they may disrupt students' learning. Others argue that fidget spinners can calm special needs students. But most simply categorize them as a craze or fad -- the most recent in a long line of toys that children have swarmed to.
    </p>
    <p>
    The hula hoop is probably the most famous. Over the course of a few months in 1958, an estimated 25 million were sold -- enough so that every child in America between the ages of five and 11 could have owned one. Soon, however, most hula hoops stopped spinning and began collecting dust. Similar toys fads include troll dolls, super balls, Rubik's cubes, Beanie Babies and jelly bracelets.
    </p>
    <p>
    It's impossible to predict which toys will become the focus of faddish enthusiasm. It helps if the price tag falls within a child's budget, if it's small enough to be brought to school and if it appeals to both boys and girls. But these aren't hard and fast rules.
    </p>
    <p>
    Cabbage Patch Kids ($25 -- equivalent to about $60 today) hit it big in 1983 when frustrated, holiday present-buying adults competed for the limited supply of dolls in stores. (They were eventually issued "adoption certificates" that could be exchanged for the dolls when production runs caught up with demand.)
    </p>
    <p>
    Adults are often ambivalent about children's fads. Some get caught up in the enthusiasm, like those who invested in the Beanie Baby bubble, convinced that the toys could only grow more valuable with each passing year. (They didn't.)
    </p>
    <p>
    Why make-believe play is an important part of childhood development
    </p>
    <p>
    Others try to read meanings into toy fads. Progressives might worry that children are being exploited, separated from their allowance money by "Big Toy" marketers. ("Wouldn't it be better if children played with wooden blocks, instead of commercialized plastic?")
    </p>
    <p>
    And conservatives might fear that toys will corrupt children's values. During the jelly bracelet craze, some claimed that those thin rings of plastic gel were actually dangerous sex bracelets, with each color referring to a particular sexual act (and having one's bracelet broken required the wearer to perform that act). Of course, critics of all stripes can suspect that the toys distract kids from their responsibilities to focus on their studies.
    </p>
    <p>
    All of this exaggerates the significance of toy fads. Play is undeniably important to childhood development, but particular toys rarely have dramatic effects. Most parents have probably given a small child a nicely wrapped present, only to have the child ignore the gift in favor of playing with the ribbon.
    </p>
    <p>
    Adults imagine that war toys or sexist toys or racist toys or meat toys (which trouble vegetarians) or occult toys (which concern evangelicals) will produce adults with bad values, but it's hard to find much evidence to support those claims. No doubt some women who are feminists owned a Barbie as a kid.
    </p>
    <p>
    Toy fads are important because they represent something novel, different. An important part of childhood is gradually separating yourself from your family and becoming your own person. We can see this when middle-school children announce a taste for music that diverges from what their parents enjoy; it's a way of declaring, "I'm my own person."
    </p>
    <p>
    How studying old drawings and writings of kids can change our view of history
    </p>
    <p>
    We can imagine slightly younger kids comparing fidget spinners -- yours is an interesting color or really sparkles when it spins, while mine spins for a really long time. Fidget spinners are all the more fun to the degree they're subterranean, with most adults clueless.
    </p>
    <p>
    They're getting a lot of attention today, but like all fads their novelty will inevitably fade: They'll soon be stuffed in the corners of dresser drawers, waiting to provide little jolts of nostalgia when they're rediscovered a few years down the road.
    </p>
    <p>
    Joel Best is a professor of sociology and criminal justice at the University of Delaware.
    </p>
    <p>
    Copyright 2016 The Conversation. Some rights reserved.
    </p>
    <div class="source">
      Source: <a href="http://edition.cnn.com/2017/05/17/health/fidget-spinner-fad-partner/">CNN</a>
    </div>
  </div>
</div>
