// out: style.css,compress: true

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background: #f8f8f8;
  color: #252525;
  min-height: 1000px;
  position: absolute;
  width: 100%;
}

@cyan: #2ddfff;
@grey: #616161;

.content {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
}

.header {
  background: #252525;
  color: #fff;
  position: fixed;
  z-index: 999;
  width: 100%;

  .content {
    position: relative;
  }
  .logo {
    bottom: 20px;
    height: 40px;
    margin: 18px 5px;
    transition: 200ms;
  }
  .menu {
    transition: 200ms;
    list-style-type: none;
    position: absolute;
    right: 5px;
    bottom: 5px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    li { display: inline-block;}
    li:not(:last-of-type) { margin-right: 20px;}
    li.active { color: @cyan;}
  }

}
.header.collapse {
    .logo {height: 30px; margin: 5px;}
    .menu {bottom: 0}
}

.heading {
  font-weight: 700;
  text-transform: uppercase;
  .inside {
    color: @cyan;
    display: inline-block;
    font-size: 11px;
    vertical-align: middle;
    margin: 0 0 5px 10px;
    position: relative;
  }
  .inside:after {
    content: "";
    width: 8px;
    height: 8px;
    display: inline-block;
    margin: 0 0 0 4px;
    background: url(img/inside.png);
  }
}

/*
********************************
******************************** NEWS
********************************
*/

.news {
  margin-top: 150px;

  .content {
    background: #fff;
    box-sizing: border-box;
    padding: 20px;
    box-shadow: 0 30px 100px rgba(0,0,0,.2);
    overflow: hidden;

    .framed {
      width: 700px;
      max-width: 100%;
      position: relative;

      .heading {
        margin-bottom: 20px;
      }

      .tile-big {
        width: 340px;
        padding-right: 5px;
        margin-right: 5px;
        border-right: 1px solid rgba(0,0,0,.1);
        box-sizing: border-box;
        float: left;
        height: 180px;

        .image {
          width: 180px;
          height: 180px;
          float: left;
          background: @cyan;
        }
        .title, .brief {
          float: left;
          width: 150px;
          max-height: 90px;
        }
        .title {
          margin-top: 20px;
        }
      }
      .tile {
        float: left;
        width: 175px;
        height: 90px;
        .brief {
          max-height: 36px;
          width: 150px;
        }
        .title {
          font-style: italic;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          font-size: 13px;
          width: 160px;
        }
        .image {
          margin-top: 10px;
          width: 22px;
          height: 22px;
          background: @cyan;
          margin-left: 10px;
          margin-bottom: 2px;
        }
      }

      .title {
        font-weight: bold;
        font-size: 14px;
        box-sizing: border-box;
        padding-left: 10px;
      }

      .brief {
        font-size: 12px;
        font-style: italic;
        box-sizing: border-box;
        padding-left: 10px;
        color: @grey;
        font-weight: 600;
        overflow: hidden;
      }

    }
  }
}

/*
********************************
******************************** TOP
********************************
*/

.top {
  width: 1000px;
  height: 10px;
  margin: 0 auto;
  max-width: 100%;
  position: relative;

  .table {
    width: 280px;
    position: absolute;
    right: 5px;
    background: #252525;
    color: #fff;
    top: -300px;

    .heading {
      margin: 20px 20px 30px 20px;
      font-size: 14px;
    }
    .heading::before {
      content: "";
      display: inline-block;
      width: 2px;
      height: 8px;
      margin-bottom: 3px;
      margin-right: 5px;
      background: @cyan;
    }
    ul {
      list-style: none;
      margin: 0; padding: 0;
      li {
        margin: 0;
        padding: 5px;
        font-size: 12px;
        font-style: italic;
        background: #2c2c2c;
        overflow: hidden;
        .number {
          font-style: normal;
          font-size: 20px;
          font-weight: 600;
          color: @cyan;
          text-align: right;
          width: 20px;
          height: 10px;
          float: left;
          margin-right: 10px;
          transform: translateY(1px);
        }
        .name {
          display: inline-block;
        }
      }
      li:nth-child(odd) {
        background: #363636;
      }
    }
    .fulllist {
      text-transform: uppercase;
      color: @cyan;
      border-bottom: 3px solid @cyan;
      margin: 20px auto 0;
      width: 80px;
      text-align: center;
      font-weight: bold;
    }
  }
}

/*
********************************
******************************** KNOWLEDGE
********************************
*/
.knowledge {
  margin-top: 50px;

  .heading {
    margin-left: 20px;
  }

  .slide {
    width: 98%;
    height: 270px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    .long {
      position: absolute;
      width: 5000px;
      height: 270px;
      margin: 5px;
      .item {
        float: left;
        margin-right: 20px;
        .image {
          margin-top: 30px;
          width: 230px;
          height: 128px;
          background: @cyan;
          box-shadow: 0 5px 50px rgba(0,0,0,.2);
        }
        .title {
          font-size: 12px;
          width: 210px;
          font-weight: 700;
          margin-top: 10px;
        }
        .title::before {
          content: "";
          display: block;
          width: 3px;
          height: 20px;
          background: @cyan;
          display: block;
          float: left;
          margin-right: 5px;
        }
      }
    }
  }
  .content {position: relative;}
  .next {
    position: absolute;
    right: 0;
    top: 100px;
    z-index: 10;
    background: #252525;
    color: @cyan;
    font-weight: 600;
    font-size: 14px;
    padding: 2px 10px 4px;
  }
  .next::before {
    content: "";
    display: inline-block;
    margin: 4px 5px 2px 0;
    vertical-align: bottom;
    background: url("img/next.png");
    width: 7px;
    height: 13px;
  }
}

/*
********************************
******************************** MOST WANTED
********************************
*/
.most-wanted {
  text-align: center;
  .heading {
    margin-bottom: 80px;
  }
  .heading .inside {
    margin-left: 0;
  }
  .tile {
    width: 300px;
    box-shadow: 0 10px 50px rgba(0,0,0,.2);
    display: inline-block;
    margin: 0 10px;
    .image {
      height: 220px;
      background: @cyan;
      position: relative;
      .title {
        position: absolute;
        bottom: 5px;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
      }
    }
    .description {
      background: #fff;
      box-sizing: border-box;
      padding: 10px;
      font-size: 13px;
      font-style: italic;
      font-weight: 600;
      color: @grey;
    }
    .action {
      background: #252525;
      color: #fff;
      text-transform: uppercase;
      overflow: hidden;
      padding: 5px 0;
      .share, .buy {
        width: 50%;
        float: left;
        text-align: center;
        font-size: 14px;
      }
      .buy {color: @cyan;}
    }
  }
}
/*
********************************
******************************** FOOTER
********************************
*/
.footer {
  background: #343434;
  padding: 30px 0;
  color: #9e9e9e;
  font-style: italic;
  font-size: 14px;
  font-weight: 600;
  overflow: hidden;
  a {
    text-decoration: none;
    color: #9e9e9e;
    transition: 200ms;
  }
  a:hover {
    color: @cyan;
  }

  .tile {
    max-width: 200px;
    float: left;
    .title {
      color: @cyan;
    }
    .title::before {
      content: "";
      display: block;
      width: 8px;
      height: 21px;
      background: url(img/footer.png);
      float: left;
      margin-right: 5px;
    }
    .desc {
      margin-left: 15px;
      margin-top: 10px;
    }
  }
  .tile:not(:last-of-type) {
    margin-right: 40px;
  }
  .copy {
    clear: both;
    padding-top: 30px;
    font-size: 12px;
  }
}
