// out: style.css,compress: true

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background: #f8f8f8;
  color: #252525;
  min-height: 1000px;
  position: absolute;
  width: 100%;
}

@cyan: #2ddfff;

.content {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
}

.top {
  background: #252525;
  color: #fff;
  position: fixed;
  z-index: 999;
  width: 100%;

  .content {
    position: relative;
  }
  .logo {
    bottom: 20px;
    height: 40px;
    margin: 18px 5px;
    transition: 200ms;
  }
  .menu {
    transition: 200ms;
    list-style-type: none;
    position: absolute;
    right: 5px;
    bottom: 5px;
    font-size: 14px;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 600;
    li { display: inline-block;}
    li:not(:last-of-type) { margin-right: 20px;}
    li.active { color: @cyan;}
  }

}
.top.collapse {
    .logo {height: 30px; margin: 5px;}
    .menu {bottom: 0}
}

.news {
  margin-top: 150px;

  .content {
    background: #fff;
    box-sizing: border-box;
    padding: 20px;
    box-shadow: 0 30px 100px rgba(0,0,0,.2);

    .framed {
      width: 650px;
      max-width: 100%;
    }
  }
}


.title {
  font-weight: 700;
  text-transform: uppercase;
  .inside {
    color: @cyan;
    display: inline-block;
    font-size: 11px;
    vertical-align: middle;
    margin: 0 0 5px 10px;
    position: relative;
  }
  .inside:after {
    content: "";
    width: 8px;
    height: 8px;
    display: inline-block;
    margin: 0 0 0 4px;
    background: url(img/inside.png);
  }
}
