<%if(title) {%>
<title><%=title%></title>
<%} else {%>
<title>Fidget Insider: Serious Fidget Toy Recommended</title>
<%}%>
<link rel="icon" href="/icon.png" type="image/png"/>
<link href="/font.css" rel="stylesheet">
<link rel="stylesheet" href="/style.css" charset="utf-8">
