<div class="background">

</div>

<div class="header">

  <div class="content">
    <a href="/"><img class="logo" src="img/logo.png" alt="Fidget Insider" /></a>
    <ul class="menu">
      <li><a href="/">Home</a></li>
      <li><a href="/news">News</a></li>
      <li><a href="/top">Top</a></li>
      <li><a href="/knowledge">Knowledge</a></li>
      <li><a href="/buy">Store</a></li>
    </ul>
  </div>

</div>
